/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Case Problem 1

   ACGIP Registration Validation Style Sheet
   Author: Alexander Orendain
   Date: 1.15.18

   Filename: cg_validate.css

*/


/* For the first block of code, I have created styles that will give the input fields, selection lists, and text area boxes an orange-esque color when clicked on. */
/* Validation Styles */
input:focus,
select:focus,
textarea:focus {
    background-color: rgb(245, 245, 140);
}

/* Underneath, I have made it so that when the input fields for the "First Name, Last Name, Address, Email, Phone Number, and ACGIP ID" detect valid data, the field will take a green hue and will display a checkmark. */
input#fnBox:focus:valid,
input#lnBox:focus:valid,
input#addBox:focus:valid,
input#mailBox:focus:valid,
input#phoneBox:focus:valid,
input#idBox:focus:valid {
    background: rgb(220, 255, 220) url(cg_valid.png) bottom right/contain no-repeat;
}

/* Underneath, I have made it so that when the input fields for the "First Name, Last Name, Address, Email, Phone Number, and ACGIP ID" detect invalid data, the field will take a red hue and will display a red X. */
input#fnBox:focus:invalid,
input#lnBox:focus:invalid,
input#addBox:focus:invalid,
input#mailBox:focus:invalid,
input#phoneBox:focus:invalid,
input#idBox:focus:invalid {
    background: rgb(255, 232, 232) url(cg_invalid.png) bottom right/contain no-repeat;
}